@{
    Layout = "_Layout2";
    ViewData["Title"] = "TestView";
}
<h1>TestView</h1>
<h3> Tamaños diferentes por columna </h3>
<div>
    <table style="width:100%">
        <thead>
            <tr>
                <th style="width:70%">Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
            </tr>
        <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
        </tr>
        </tbody>

    </table>
</div>
<br />
<h3> Encabezados </h3>
<div>
    <table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
        </tr>
    </table>
</div>
<br />

<h3> Encabezados verticales</h3>
<div>
    <table>
  <tr>
    <th>Firstname</th>
    <td>Jill</td>
    <td>Eve</td>
  </tr>
  <tr>
    <th>Lastname</th>
    <td>Smith</td>
    <td>Jackson</td>
  </tr>
  <tr>
    <th>Age</th>
    <td>94</td>
    <td>50</td>
  </tr>
</table>
</div>
<br />
<h3> Algunas imágenes </h3>
<div align="center">
<table>
    <tr>
        <td><img src="https://s3.amazonaws.com/static.rogerebert.com/uploads/movie/movie_poster/red-dragon-2002/large_r95GzuoTcN4y63mIU9PLLWe28lH.jpg" /></td>
        <td><img src ="https://cdn.shopify.com/s/files/1/0955/0844/products/Reg-FINAL-sh_8049e771-7c9f-4535-b7c9-b79cdc428c2d_1024x1024.jpg?v=1632153725" /></td>
    </tr>
</table>
</div>
